<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFH4uph_ONQaINwFrCmPbTvt0aj50fZVE</string>
	<key>GCM_SENDER_ID</key>
	<string>829984279550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>come.example.demo</string>
	<key>PROJECT_ID</key>
	<string>employee-demo-e6a2c</string>
	<key>STORAGE_BUCKET</key>
	<string>employee-demo-e6a2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829984279550:ios:757f669c048735a2084eaf</string>
	<key>DATABASE_URL</key>
	<string>https://employee-demo-e6a2c-default-rtdb.firebaseio.com</string>
</dict>
</plist>